.container-fluid.sign-up-container
  .col-md-4.col-xs-4.col-xs-offset-4.col-md-offset-4
    %h2 Sign Up
    = render partial: 'sign_up_form'
  .col-md-4.col-xs-4.col-xs-offset-4.col-md-offset-4.footer
    = render "devise/shared/links"


