.secondary-menu.row
  .col-md-6.col-sm-3.col-xs-6
    = link_to bot_notifications_path(@bot), class: 'breadcrumb' do
      %h2 All Notifications
    %span.breadcrumb-separator
      \/
    %h2 Edit Notification

.container-fluid.notifications-container
  .row
    .col-sm-8.col-sm-offset-2
      = render 'form', bot: @bot, notification: @notification
