.secondary-menu.row
  .col-md-4.col-sm-4.col-xs-4
    %h2 My Profile

.row
  .col-md-6
    %h3 My API Key
    %p.api-key-intro
      This is the API key you should use to register new instances of your bot.
    %p.api-key
      %pre.pre-scrollable= @user.api_key
    = simple_form_for @user, url: regenerate_api_key_user_path(@user), method: :patch do |f|
      = f.submit 'Regenerate API Key'
