.container-fluid.settings-container
  .col-md-4.col-xs-4.col-xs-offset-4.col-md-offset-4
    = simple_form_for @setting, url: settings_path do |f|
      = f.input :hostname, required: true, label: "The hostname for your Botmetrics Installation"
      = f.button :submit, "Save Settings"

- content_for :header_text do
  Set Up Your Installation
