- dashboards = bot.dashboards.where(enabled: true).order("id ASC").map do |dash|
  - dash.group_by = group_by
  - dash.current = false
  - dash.init!
  - dash

%table
  %thead
    %tr
      - dashboards.each do |dash|
        %th{style: 'padding-right: 20px'}= dash.name
  %tbody
    %tr
      - dashboards.each do |dash|
        %td
          = number_with_delimiter(dash.count)
          - if (growth = dash.growth)
            (#{number_to_percentage(growth * 100, precision: 0)})
