body.bot_instances,
body.users,
body.bots
  &.setting_up
    p
      font-size: 16px
      &.intro
        padding-top: 10px
    a.btn.btn-success
      font-size: 16px
      padding: 18px 25px
  .header-container
    margin: 0
    .back-button
      i
        display: inline-block
        font-size: 14px
        margin-right: 5px
        margin-top: 2px
      color: #fff
      &:hover,
      &:focus
        text-decoration: none
        color: #fff

    .btn.header-button,
    .btn.profile-button
      background-color: transparent
      h3
        display: inline-block
        color: #fff
        margin-right: 5px
        margin-top: 0
        margin-bottom: 0
      span.caret
        color: #fff
    .btn.profile-button
      h3
        font-family: myriad-pro
        font-size: 16px
        margin-top: 5px
    .dropdown-menu
      i.fa
        display: inline-block
        margin-right: 8px
  .content-container
    .setup-done
      display: none
    form
      padding-top: 20px
      font-size: 16px
      p.disclaimer
        opacity: 0.65
      input[type="submit"]
        font-size: 16px
        padding: 18px 25px

body.users
  p
    font-size: 16px
    padding-top: 8px

body.bots
  .stats
    padding-top: 20px
    .stat
      border-radius: 5px
      box-shadow: 0 1px 1px #dae1e3
      min-height: 120px
      padding: 1.25rem
      margin: 0 1em 2em 1em
      h3
        color: #444
      p.number
        position: absolute
        right: 10px
        bottom: -20px
        font-size: 64px

