body.bot_instances,
body.users,
body.bots,
body.teams,
body.dashboards,
body.notifications
  &.setting_up
    p
      font-size: 16px
      &.intro
        padding-top: 10px
    a.btn.btn-success
      font-size: 16px
      padding: 18px 25px
  .header-container
    margin: 0
    .back-button
      i
        display: inline-block
        font-size: 14px
        margin-right: 5px
        margin-top: 2px
      color: #fff
      &:hover,
      &:focus
        text-decoration: none
        color: #fff

    .btn.header-button
      padding-left: 0

    .btn.header-button,
    .btn.profile-button
      background-color: transparent
      h3
        display: inline-block
        color: #fff
        margin-right: 5px
        margin-top: 0
        margin-bottom: 0
      span.caret
        color: #fff
    .btn.profile-button
      h3
        font-family: myriad-pro
        font-size: 16px
        margin-top: 5px
    .dropdown-menu
      i.fa
        display: inline-block
        margin-right: 8px
  .content-container
    padding-left: 200px
    .setup-done
      display: none
    form
      padding-top: 20px
      font-size: 16px
      p.disclaimer
        opacity: 0.65
      input[type="submit"]
        font-size: 16px
        padding: 18px 25px

body.users
  p
    font-size: 16px
    padding-top: 8px

body.bots,
body.bot_instances,
body.dashboards,
body.notifications,
body.users
  &.edit
    h2.api
      padding-top: 10px
  .secondary-menu
    a.breadcrumb
      display: inline !important
      background-color: transparent
      opacity: 0.8
      padding: 0
      text-decoration: none
      &:hover
        opacity: 1.0
      h2
        display: inline-block
        color: #333
    .breadcrumb-separator
      display: inline-block
      margin: 0 5px
      font-size: 25px
    h2
      margin-top: 10px
      margin-bottom: 0
      display: inline-block
  .growth
    position: absolute
    top: 12px
    right: 12px
    border: 1px solid #ccc
    border-radius: 4px
    padding: 2px 5px
    &.negative
      color: #d9534f
      border-color: #d9534f
    &.positive
      color: #5cb85c
      border-color: #5cb85c
    i
      display: inline-block
      margin-right: 6px

  .time-segmented-controls
    border: 1px solid #dae1e3
    border-radius: 4px
    margin-top: 15px
    a
      padding: 4px 12px
      font-size: 12px
      color: #737c81
      border-right: 1px solid #dae1e3
      &:hover,
      &:focus
        color: #333
      &.active
        color: #fff
        background-color: #3bafda
        box-shadow: inset 0 1px 5px rgba(0,0,0,0.125)
      &:last-child
        padding-top: 5px
        padding-bottom: 5px
        border: none

body.dashboards.new_bots,
body.dashboards.disabled_bots,
body.dashboards.users,
body.dashboards.all_messages,
body.dashboards.messages_to_bot,
body.dashboards.messages_from_bot
  .time-segmented-controls
    margin-right: 15px
  .tableized
    margin-top: 40px
  .graph-container
    padding: 40px
    .graph
      padding: 40px
      background-color: #fff
      border-radius: 5px
      box-shadow: 0 1px 1px #dae1e3
  #report-range
    cursor: pointer
    padding: 5px 10px
    border: 1px solid #dae1e3
    border-radius: 4px
    width: 220px
    margin-top: 12px
    i
      display: inline-block
      margin-right: 5px

body.bots,
body.teams,
body.dashboards,
body.notifications,
body.users,
body.bot_instances
  background-color: rgba(227,231,242, 0.1)
  .secondary-menu
    background-color: #fff
    height: 60px
    box-shadow: 0 1px 1px #dae1e3
    .btn-settings
      background-color: #fff
      color: #737c81
      border: 1px solid #dae1e3
      &:hover,
      &:focus,
      &:active,
      &:disabled
        background-color: #fff !important
        border-color: #cbd5d8

  .stats
    padding-top: 25px
    a
      color: #333
      &:hover
        text-decoration: none
        color: #333
        .stat
          box-shadow: 0 4px 10px #ccc
    .stat
      h3
        margin-top: 0
      background-color: #fff
      border-radius: 5px
      box-shadow: 0 1px 1px #dae1e3
      min-height: 120px
      padding: 1.25rem
      margin: 0 1em 2em 1em
      canvas
        opacity: 0.25
        margin-left: -40px
      h3
        color: #444
      p.number
        position: absolute
        right: 15px
        bottom: -15px
        font-size: 64px
        z-index: 99999

body.notifications
  .notifications-container
    margin-top: 25px

    .no-notifications
      padding: 20px
      font-size: 16px
      background-color: fade-out($alert-info-bg, 0.1)
      border-color: $alert-info-border
      border-width: 4px

  .btn-group
    margin-top: 15px

  .scheduler-toggle
    margin: 10px 0

  .clear-scheduler
    font-size: 12px

  .failures
    color: $alert-danger-text

.webhook-success
  color: #6cc644

.webhook-failed
  color: #bd2c00
