body.bot_instances,
body.users,
body.bots,
body.teams
  &.setting_up
    p
      font-size: 16px
      &.intro
        padding-top: 10px
    a.btn.btn-success
      font-size: 16px
      padding: 18px 25px
  .header-container
    margin: 0
    .back-button
      i
        display: inline-block
        font-size: 14px
        margin-right: 5px
        margin-top: 2px
      color: #fff
      &:hover,
      &:focus
        text-decoration: none
        color: #fff

    .btn.header-button
      padding-left: 0

    .btn.header-button,
    .btn.profile-button
      background-color: transparent
      h3
        display: inline-block
        color: #fff
        margin-right: 5px
        margin-top: 0
        margin-bottom: 0
      span.caret
        color: #fff
    .btn.profile-button
      h3
        font-family: myriad-pro
        font-size: 16px
        margin-top: 5px
    .dropdown-menu
      i.fa
        display: inline-block
        margin-right: 8px
  .content-container
    .setup-done
      display: none
    form
      padding-top: 20px
      font-size: 16px
      p.disclaimer
        opacity: 0.65
      input[type="submit"]
        font-size: 16px
        padding: 18px 25px

body.users
  p
    font-size: 16px
    padding-top: 8px

body.bots
  .time-segmented-controls
    border: 1px solid #dae1e3
    border-radius: 4px
    margin-top: 15px
    a
      padding: 4px 12px
      font-size: 12px
      color: #737c81
      border-right: 1px solid #dae1e3
      &:hover,
      &:focus
        color: #333
      &.active
        color: #fff
        background-color: #3bafda
      &:last-child
        padding-top: 5px
        padding-bottom: 5px
        border: none

body.bots,
body.teams
  background-color: rgba(59,175,218, 0.1)
  .secondary-menu
    background-color: #fff
    height: 60px
    box-shadow: 0 1px 1px #dae1e3
    .btn-settings
      background-color: #fff
      color: #737c81
      border: 1px solid #dae1e3
      &:hover,
      &:focus,
      &:active,
      &:disabled
        background-color: #fff !important
        border-color: #cbd5d8

  .stats
    padding-top: 25px
    a
      color: #333
      &:hover
        text-decoration: none
        color: #333
    .stat
      h3
        margin-top: 0
      background-color: #fff
      border-radius: 5px
      box-shadow: 0 1px 1px #dae1e3
      min-height: 120px
      padding: 1.25rem
      margin: 0 1em 2em 1em
      h3
        color: #444
      p.number
        position: absolute
        right: 15px
        bottom: -15px
        font-size: 64px
