body.static.privacy
  p
    font-size: 16px
  ul
    li
      font-size: 16px

body.static.index
  .intro-text
    padding-top: 20px
    font-size: 18px
  .sign-up
    a.btn.btn-lg
      font-size: 16px
      padding: 18px 25px
  .help
    padding-top: 40px
    color: #ccc
