.secondary-menu.row
  .col-md-6.col-sm-3.col-xs-6
    %h2 Insights

.container-fluid
  .row.query-set
    .col-xs-12
      .well
        %h3 Filters
        = render 'shared/filters/form',
          query_set: @query_set,
          get_url: bot_insights_path(@bot),
          default_query: default_query,
          reset_url: bot_insights_path

  = render 'shared/filters/tableized', tableized: @tableized, provider: @bot.provider

- content_for :page_scripts do
  :javascript
    App.page = new App.Filter();
    App.page.run();
