%table.table.table-striped.tableized
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Created
  %tbody
    - @tableized.each do |u|
      - _bi = u.bot_instance
      %tr{class: u.id}
        %td= u.user_attributes['first_name']
        %td= u.user_attributes['last_name']
        %td= "#{time_ago_in_words(_bi.created_at)} ago"
